[2018-02-26 09:07] foosel opened #1 "Use getAdditionalControls callback in frontend instead of manipulating the config in the backend"
FYI, instead of injecting your controls into the configuration:

https://github.com/electr0sheep/OctoPrint-Cr10_leveling/blob/4942918fe10b886a371685b78e96289e9167869a/octoprint_CR10_Leveling/__init__.py#L11-L22

you should declare your own JS asset with a view model and use the [`getAdditionalControls()` view model callback](http://docs.octoprint.org/en/master/plugins/viewmodels.html#callbacks) in

[2018-02-26 17:56] electr0sheep commented on #1
Thanks for the tip, I'll see what I can do!

[2018-02-26 22:29] bcsteeve opened #2 "But how to get it to work?"
Installation said success... nothing there though.  I don't see what your screenshot shows.  Just normal "controls" page.  Plugin manager shows it as enabled.

??

[2018-02-26 22:35] bcsteeve commented on #2
reboot.  of course.  sorry

[2018-02-26 22:37] bcsteeve opened #3 ""Upper" left broken"
Upper left and lower left go to the same place.  Right works fine.  Center does too.  Would be ideal if we could specify coords for each.

[2018-02-26 22:39] bcsteeve opened #4 ""Apply Heat" shouldn't be your values"
They should be my values, not some random figure you thought would be nice.  It defaults to 50/170.  Why not *at least* go to what user has set for PLA?  Better... let them choose a profile

[2018-02-26 22:54] nean-and-i commented on #3
typo "F290" instead of "Y290" created a pull request

[2018-02-26 23:21] nean-and-i commented on #4
this should be bed:80 and noozle:190, especially for leveling a higher bed temp is useful

[2018-02-26 23:26] bcsteeve commented on #4
It shouldn't be any arbitrary value.  It should be user settable

[2018-02-27 00:41] bcsteeve opened #7 "Can't uninstall???"
Because it wasn't working well, I disabled it... still there.  I removed it... still there.  I restarted.  Rebooted.  Still there!!  I ssh'd into the system and confirmed the files do not exist.... STILL THERE.

I cleared my cookies.  Different browser.   STILL THERE.

How is this even possible?

How in the world do I get it to go away?

[2018-02-27 00:51] electr0sheep commented on #7
I will work on making it easier to uninstall. If you ssh into your system and open the file ~/.octoprint/config.yaml, you should see the added controls under controls:

If you remove the controls from there, it will get rid of them. Not the most convenient thing to do, admittedly.

[2018-02-27 00:54] electr0sheep commented on #2
But still, the installation process is not clear. I need to update this to make this more smooth.

[2018-02-27 01:05] electr0sheep commented on #4
What would be the best way to implement the change? Text fields where users can enter their own values, or a drop down box where users can select an option from OctoPrint Settings>Temperatues>Presets?

[2018-02-27 01:36] electr0sheep opened #8 ""Home" button might be nice"
If the CR-10 is started with the z-axis out of line, the leveling buttons don't but the nozzle on the bed

[2018-02-27 01:38] electr0sheep commented on #3
Resolved with f05e84c27449dedb3d2dcfec2c548e91d2abc4f6

[2018-02-27 02:31] electr0sheep commented on #3
Actually, before I resolve this I want to get more information

Since you are looking to specify the heat temperature as well as the corner coordinates, I am wondering if you are looking for a plugin like this:
https://github.com/Salandora/octoprint-customControl
, instead of this plugin. customControl can be used in conjunction with this to modify whatever commands you want.

The idea behind this

[2018-02-27 03:19] bcsteeve commented on #3
I'm happy you're receptive to feedback.  The ideal method for bed leveling is if the nozzle is directly over the adjustment screws.  Your default coordinates aren't over the screws.  I precisely position mine (eg 31.2, 27.7) and it is much quicker to level than if I'm just sorta close... but close is better than not close.  So even if you use default values that are "close enough", it would be bet

[2018-02-27 03:24] bcsteeve commented on #7
Thanks!  I had no idea why edits weren't taking, and neither was removal.  Now I get it.  Not ideal, but functional... So thank you

[2018-02-27 03:29] bcsteeve commented on #4
I suggest... if it is possible (I don't know) that you tap into the code that is already there where the user defined temperature/material profiles are, then show a dropdown.  Bed leveling is ideally performed with the same influencing factors as the printing.  So it should be the same temp the print job will use.

If it isn't worthwhile making it a UI element, then just give some details on how t

[2018-02-27 03:49] bcsteeve commented on #8
But... isn't there a home button directly above in the standard "controls"?  Why would we need a second one on the same page?

[2018-02-27 04:06] bcsteeve commented on #7
Sorry... still not where I need to be.  I edited the yaml file and reloaded the page.  Still there.  Is restart/reboot/browser cache/cookie flush required?

[2018-02-27 04:40] electr0sheep commented on #7
Yeah, restart OctoPrint, if it's still there do a hard refresh, and if it's still there let me know.

Sorry about the trouble, you're kind of my guinea pig!

[2018-02-27 04:45] electr0sheep commented on #3
Great, with this in mind, you've convinced me that it would be a genuinely useful feature.

If you have those measurements on hand, and want to let me know in a comment, I can change the static positioning and release an update quickly.

Configurable controls will probably take me a little longer.

Also, I have released a new version 1.1.0 that should make installation/enabling/disabling/and unins

[2018-02-27 04:46] electr0sheep commented on #1
Thanks again for the tip @foosel, this makes everything much smoother!

[2018-02-27 04:46] #1 closed

[2018-02-27 04:48] electr0sheep commented on #8
@bcsteeve yep, you're absolutely correct. I totally forgot about the other controls lol.

[2018-02-27 04:48] #8 closed

[2018-02-27 04:48] electr0sheep commented on #2
Installation process is much more smooth as of v1.1.0

[2018-02-27 04:48] #2 closed

[2018-02-27 08:37] BETLOG opened #9 "basic extensibility"
This would be MUCH more useful if the XY values could be user defined, and just call it a level assist plugin.

[2018-02-27 10:50] taker218 opened #10 "Double controls"
I just updated to version 1.1.0 and now I have the bed leveling section twice on my control tab.

After disabling the plugin there is still one section visible (restart of octoprint-server and hard refresh of the site).

Any chance to get rid of them?

[2018-02-27 10:55] taker218 commented on #10
After I deleted the controls from the ~/.octoprint/config.yaml (like stated in #7 ) it's now back to normal.

[2018-02-27 10:56] #10 closed

[2018-02-27 15:20] govido commented on #9
Why not use this instead?
https://plugins.octoprint.org/plugins/touchtest/

[2018-02-27 16:47] bcsteeve opened #11 "Check for homing?"
I don't know if this is possible, but I just had a crappy moment where I hit "center" when the unit wasn't homed (timed out) and it assumed it was at 0,0 when it was actually at something like 200, 200 and it went bashing into the side of the frame.

So... if possible... can a check be done to see if homing is required?  I don't know how the system knows, but on the LCD it will have flashing figur

[2018-02-27 16:51] bcsteeve commented on #3
Well, for me on the printer I'm using at the moment it is:

Front left:  x31.4 y27.1
Back left:  x30.2 y268.0
Back right: x271.1 y268.6
Front right: x270.7 y27.9

I would also suggest using that labeling since "upper" and "lower" is less clear (to me).

I'm going to try your 1.1.0.

I wish I knew more about the coding side to help you more.  That's why I was so happy to see this plugin because I'v

[2018-02-27 18:57] bcsteeve commented on #11
You know what... I think this is important because I just did it again.  Need to somehow check that the printer knows where it is before heading off to la la land.  Good luck.

[2018-02-27 20:20] electr0sheep commented on #11
I can confirm that this is an issue. I've been working on extensibility, but I'm going to switch over to fixing this. Obviously I don't want to damage anyone's equipment.

[2018-02-27 20:34] thisiskeithb commented on #4
Pulling from the system values for preheat settings would be nice, but I'm not sure what Octoprint exposes to plugins.

[2018-02-27 21:09] nean-and-i commented on #3
indeed, "front" and "back" would be better than "upper" and "lower"

regarding the coordinates, well, i'd also recommend a position not to close to screws or the end of the bed, why, because it could cause issues with some sorts of mods such as fan ducts , also a calibration more inner would be more efficient as some beds tend to bend,...

I have a tevo tornado, but its an identical clone of the c

[2018-02-27 21:33] bcsteeve commented on #3
I'm going to respectfully disagree with above.  I think "at the screws" is the one "best" position (there are mathematical reasons why but we don't have to get into it).  But... it raises a point that "different strokes for different folks" is going to be the ultimate answer.  If I were you, @electr0sheep, I would simply document how to edit the .js file for those of us that want what we want.  No

[2018-02-27 22:27] nean-and-i commented on #3
@bcsteeve , indeed, seems we booth have different view on that, and I don't take it personally, no worries ;-) Please allow me to share some of my experiences, that might differ to yours.

That said, I get the very best calibration results, when printing couple of rectangles, from outside to inside, that becomes smaller, while calibration and calibrating during the print.
I have some arguments tha

[2018-02-27 22:33] bcsteeve commented on #3
Starters shouldn't be jumping into crazy over-sized fan mounts :)

[2018-02-27 22:46] nean-and-i commented on #11
if possible, pls send a
G28    ; Home X/Y/Z axis
before starting with the first move.

and after calibration extruder reset and some other stuff might be useful, like:
G28       ; Home X/Y/Z axis
G92 E0   ; Set extruder to [0] zero
M107      ; turn off layer fan
M84       ; disable motors
G90       ; absolute positioning

[2018-02-27 23:04] bcsteeve commented on #11
Yeah, but how do we determine what is "the first move"?  I wouldn't want a G28 before every move, certainly.  And if too much time has passed (I guess?) and it loses its position then how do we know that?

Come to think of it... it would be great if Marlin itself would make the G28 a little smarter.  By default, a G28 should do nothing *if* there is an expectation that it already knows where it is

[2018-02-27 23:16] nean-and-i commented on #11
in no case the plug know the position of the noozle.

@electr0sheep , can you probably implement a new switch that must be enabled first, before even being able to press a button? -> 0/1 switch like on a phone,
after switching it on, then controls becomes visible or un-greyed, and on that switch-on action a G28 is being triggered,...

Result: after switching-on the plug (causing a single home),it

[2018-02-27 23:20] bcsteeve commented on #11
"after enabling control, the plug knows the first position"

But that isn't true, unfortunately.  Otherwise I wouldn't have run into trouble (twice) already.  I did a G28 but then let some time pass and pressed "center" (while it was already in the G28 position, which is center + probe offsets for me) and it started to move to the back right.  So we also can't depend on the control's own status.

[2018-02-27 23:24] nean-and-i commented on #11
sorry you misunderstood my posting,...
I meant after implementation my new idea, this would then be the case,...
I've edited it, hope its clear now?

[2018-02-28 02:01] electr0sheep commented on #4
What I'll probably end up doing for the first attempt is to have a number input for the values, and then I can try to populate a drop down based on the system values. I'm pretty sure those settings are exposed. I pretty much have all that done, but the controls aren't updated until the user refreshes the page, so that's what's going on with that.

[2018-02-28 02:10] electr0sheep commented on #11
What I was working on is having a "Safety Home" button that you must press first (which homes the x and y axis, I don't want to mess with the z axis and knock printed stuff over). I actually assumed that @bcsteeve turned the printer on and then used the plugin before homing it. I didn't think it could become "out of sync" due to time. But at any rate, yes you can keep track of time, as the plugin

[2018-02-28 02:34] electr0sheep commented on #11
I think this is a very important issue, we don't want to damage people's expensive machines if we can help it. I have started work on this on the [add-safety-home branch](https://github.com/electr0sheep/OctoPrint-Cr10_leveling/tree/add-safety-home), with the idea that after the button is pressed, the normal controls become visible. Any help would be welcome.

[2018-02-28 02:40] electr0sheep commented on #9
I have nearly finished work on this with the [customizable-controls branch](https://github.com/electr0sheep/OctoPrint-Cr10_leveling/tree/customizable-commands), but after saving the new settings, the user has to refresh the page for the changes to actually take effect. I think the solution might have something to do with the function rerenderControls() (I tried to find documentation for this funct

[2018-02-28 02:50] electr0sheep commented on #9
https://github.com/electr0sheep/OctoPrint-Cr10_leveling/issues/4

[2018-02-28 02:51] electr0sheep commented on #9
#4

[2018-02-28 02:52] electr0sheep commented on #9
#4

[2018-02-28 02:52] #4 closed

[2018-02-28 02:53] electr0sheep commented on #4
#9

[2018-02-28 03:23] electr0sheep commented on #3
I'm going to close this now, I have added customizable controls (just in the process of figuring out why the settings menu is blank for the actual release)

[2018-02-28 03:23] #3 closed

[2018-02-28 03:24] bcsteeve commented on #11
I can confirm that I did not use the plugin before homing.  The reason it was where it was (offset from center by the probe offsets) was because the last thing I did was home it.  Some time passed... not sure how long.  Then I clicked "center" and it crashed into the side before I could reach the power switch.  Then I did the same thing later (but that time I got to the switch).

Damage isn't a hu

[2018-02-28 03:53] electr0sheep commented on #11
If I add a button that issues an M84, will that cause all the motors to stop? Maybe I could add a button like that as an emergency stop.

[2018-02-28 04:08] electr0sheep opened #12 "Settings page is blank"
I'm not seeing the settings page on my pi, but I do see it on my dev build. *sigh* I'll have to try to figure out what the deal is.

[2018-02-28 04:09] bcsteeve commented on #11
M84 sets the timeout is all.  There is an emergency stop, but it requires a firmware change.  I can look up the details of you want.  I would LOVE an emergency stop!  I'm kind of surprised it isn't a native feature.

[2018-02-28 04:15] electr0sheep commented on #11
It looks like [M112](http://reprap.org/wiki/G-code#M112:_Emergency_Stop) might do the trick. What firmware does the CR-10 use? Is it Marlin? According to the link, Marlin should support M112?

[2018-02-28 04:17] bcsteeve commented on #11
M112 is a little harsh, but yeah it works most of the time.  I'll look up the method I meant

[2018-02-28 04:20] bcsteeve commented on #11
M108 is the one.  Requires EMERGENCY_PARSER but doesn't require system restart like M112 does.  And M112 *can* be delayed depending on what is currently executing.

[2018-02-28 04:23] bcsteeve commented on #11
I'm sure stock CR10 uses some form of Marlin, but who knows what version and what they may have changed.  I recommend every cr-10 owner should glass latest vanilla Marlin for sure.

[2018-02-28 04:38] BETLOG commented on #9
@govido Also good. But the point is that the bed parameters should either be read from the active octo profile, or user editable in the GUI.
Right now I'm using the 'custom control editor' to do exactly that.
![selection_2018-02-28--14-33-55](https://user-images.githubusercontent.com/12265451/36770198-c3f344d2-1c94-11e8-9a0e-c9a3c5b989b0.png)

This (and the one you linked)  kind of 'convenience fe

[2018-02-28 04:38] electr0sheep commented on #11
Oh I see. I guess I was looking at the wrong firmware's wiki. Geez that's confusing. [M108](http://marlinfw.org/docs/gcode/M108.html) seems like it just breaks out of commands that cause the printer to "wait". Don't really know what I'm doing with Gcode though, so I'll give it a whirl.

Suppose I forget to home my machine and its ramming against an edge, would M108 stop that?

[2018-02-28 04:39] electr0sheep commented on #12
Resolved with commit 669a1dfc22d6210b95cc6cc21f2d34b43a190e7c

[2018-02-28 04:39] #12 closed

[2018-02-28 04:41] bcsteeve commented on #11
Indirectly.  Let me test and I'll get you the right gcode tomorrow.  Use m112 for now because it doesn't require a firmware change and it is more straightforward.  The problem with m112 is it requires the user to physically power cycle the printer and sometimes octopi also needs resetting.  And rarely... it doesn't work fast enough (I've had problems during G29)

[2018-02-28 05:01] electr0sheep opened #13 "[Discussion]"
Hey guys, I don't really know what I'm doing with gcode, but it seems like the current feed rate could be much faster. I've been experimenting with G0 X Y F40000 and the printer hauls butt. Aside from possibly being a safety hazard, is there a reason why I shouldn't set the feed rate a lot faster than 5000?

Should I just make the feed rate customizable as well? If so what are some good defaults?

[2018-02-28 06:03] bcsteeve commented on #11
OK, it looks like I was reading out-dated discussions that also included typos  lol.  M108 isn't what you want.   M108 (as it was implemented) is what you said, a break from loops.  It might still be a helpful button, but it isn't what I was thinking.   I still don't like M112, but that might be the way to go.  M18 (not M108) is what they meant.  I see that's now analogous to M84, which I thought

[2018-02-28 14:20] b-morgan commented on #13
electr0sheep, Are you subscribed to the google group OctoPrint? If not, you should be as that may be a better place to ask this question. Also people in that group are asking questions about your plugin. It seems quite popular, congratulations!

[2018-02-28 14:33] b-morgan commented on #11
There should be a Start Gcode as part of the printer settings in any slicer that has support for the CR-10. These Gcode commands begin with the commands necessary to take the printer from an unknown state to a known state which includes homing the axes. If the printer is already "homed" (and the bed is clear), these commands can safely be sent to the printer multiple times.

I believe a subset of

[2018-02-28 15:31] bcsteeve commented on #11
Except that start code executes immediately before a job... no possibility for a timeout.  This plugin could be left on for hours without activity.  Months even.  There's no guarantee that the hooking is valid at any given time. Right?  Maybe I've misinterpreted what I observed.

[2018-02-28 17:49] ryanneve commented on #7
I had the same problem, but it isn't obvious to me exactly which lines I should remove from config.yaml

[code]

[2018-02-28 18:47] electr0sheep commented on #7
@ryanneve It looks like you don't have any other plugins modifying controls, so you can remove the entire controls block, i.e.:

[code]

I'll work on adding code to newer versions that automatically uninstalls the legacy stuff. That way you should be able to update the plugin, and then disable/remove it to get rid of the CR-10 crap

[2018-02-28 23:23] b-morgan commented on #11
I'm not sure all printers "timeout" and forget where home is. How much time are you talking about?

I believe an additional "Home" button is necessary. When pressed it issues (at least) G28 and enables all the other buttons. There could be a setting associated with this button that was a timeout value with 0 meaning never timeout and positive values being how many minutes(?) before the other butto

[2018-03-01 00:32] bcsteeve commented on #11
Minutes.  Not long.  It has happened several times now.

Don't your steppers shut down after a minute?  I think one minute is the default in Marlin.  I assumed (could be very wrong) that is why/when the system seems to "forget" its position.

Haven't you ever run into... for example... trying to run G29 and the system complains that you have to do a G28 first?  This can happen just a few minutes (

[2018-03-01 15:40] b-morgan commented on #11
@bcsteeve : You are correct. The Marlin default is set in configuration_adv.h (for my printer, #define DEFAULT_STEPPER_DEACTIVE_TIME 120) and can be changed with M18 and M84 (http://marlinfw.org/docs/gcode/M018.html)

[2018-03-01 16:45] nean-and-i commented on #11
for something like an emergency stop please install another plugin, afaik there are at least 2 plugs that does this already, so no need to get this addressed here.
I've installed one and it works fine.

@electr0sheep I guess any kind of "homing first" mechanism is sufficient, however that will look like, its up to you, but we're in line that it is essential..

It seems this gets a bit off-topic, f

[2018-03-01 17:03] bcsteeve commented on #11
@nean-and-i "I've installed one and it works fine"... consider sharing?

And  yes, M112 has several times necessitated a full reboot of Octopi before I can get it to reconnect.  Perhaps "in no case [it SHOULD] cause rasbian [...]".  And I didn't say Raspbian froze.  I said I had to reboot it before it would connect.  I tried the connect button.  I tried the restart Octoprint button.  It wasn't unt

[2018-03-01 17:08] bcsteeve commented on #11
I just tried it now (and know that last night I reinstalled Octopi from the beginning).

I started a job and it was in the  middle of heating.  I entered M112 and it shut down.  I tried "connect" but of course it won't work because the printer itself says it has to be reset.  I shut down the printer, waited some 30s.  I turned it back on.  I click "connect"... nothing.  I wait 2 minutes and click

[2018-03-01 17:38] bcsteeve commented on #11
@electr0sheep I don't know if you figured this out yourself, but I've confirmed the documentation for M18, M84 is poorly worded.  It does NOT "immediately" disable the steppers and therefore can't be used as an emergency stop for them.

I personally think I'm going to try enabling the EMERGENCY_PARSER and then use M410 - Quickstop.  This seems like a better alternative to M112.  I'm not sure why E

[2018-03-01 17:43] nean-and-i commented on #11
@bcsteeve sounds like usb is not recognized, sometimes it helps just unplug and replug the usb, so the kernel reinitiates the usb port, after that you should be able to reconnect.
Else you might need to debug it on linux level, like with dmesg and lsusb to see if usb is re-detected after the reset.

[2018-03-01 17:55] weinmannd commented on #7
also vote for an easier uninstall, my entire server got very unresponsive after installing the latest update

[2018-03-01 20:52] electr0sheep commented on #11
Okay, so I'm still working on a fix, but interestingly enough, after some experimentation, the default OctoPrint controls suffer from this same issue. If you don't home the printer first, you can use the controls to go out-of-bounds as well. I had an idea to see if OctoPrint has some custom functions that do some out-of-bounds checking, but I guess not.

[2018-03-02 00:09] electr0sheep commented on #11
For version 2.0.0, I added a warning message next to the controls. This doesn't resolve the issue, but hopefully works as a temporary solution. I also considered adding an M28 to each control, but this ruins the plugin for me. I anticipate that I won't have as much time to work on this plugin the next couple of days, and I wanted to get the plugin in as good a state as I could today.

So, I'm stil

[2018-03-02 00:14] electr0sheep commented on #9
I think at this point, I have added some basic extensibility features, therefore I'm going to close this issue.

[2018-03-02 00:14] #9 closed

[2018-03-02 00:15] electr0sheep commented on #7
UPDATE: The latest version 2.0.0 should now check for this old legacy crap and get rid of it. So, if you are trying to get rid of the plugin, update to 2.0.0, and then you shouldn't have any issues. If you do run into issues, please let me know.

[2018-03-02 00:16] #13 closed

[2018-03-04 00:20] devildog125 opened #14 "Is there way we could get an option to level for the S4 & S5?"
Is there way we could get an option to level for the S4 & S5? The plugin works well however

[2018-03-05 04:21] electr0sheep commented on #14
Can you describe what you are wanting in more detail? In its current state, the plugin should allow you to specify the coordinates of the 5 different positions. Are you requesting a drop-down menu of pre-configured defaults or something?

[2018-03-05 04:26] devildog125 commented on #14
Correct, say a drop down for like CR-10, CR-10 S4 and CR-10 S5. Right now I have an S4 and when I use the the plugin, it thinks its a standard CR-10 and doesn't utilize the full bed. It just levels the area of 300 x 300 (the area of a standard CR-10). It needs to utilize the full 400 x 400 or 500 x 500 for an S5.

[2018-03-05 04:27] devildog125 commented on #14
Correct, say a drop down for like CR-10, CR-10 S4 and CR-10 S5. Right now I
have an S4 and when I use the the plugin, it thinks its a standard CR-10
and doesn't utilize the full bed. It just levels the area of 300 x 300 (the
area of a standard CR-10). It needs to utilize the full 400 x 400 or 500 x
500 for an S5.

On Sun, Mar 4, 2018 at 10:21 PM, electr0sheep <notifications@github.com>
wrote:

[2018-03-10 08:20] Havenwar commented on #11
I hope I'm not stepping on anyones foot here but I'm not sure I understand this detail.

@bcsteeve Did you really mean center here? Home is front left corner on the cr10, so if the last thing you did was home it then your printhead should have been at the front left corner, right?  Did the head move away from the front left corner after homing, or is your home not the front left corner?

[2018-03-10 08:36] Havenwar opened #15 "Suggestion: Option to switch front and read button position or edit labels"
I don't know if I'm just exceptionally prone to clicking things when I'm tired, but for some reason it just offends my spatial sense that the "front" buttons are above and the "rear" buttons are below, since when I sit at my printer and work on leveling the bed the front corners are "below" the rear corners from my point of view.

Like it's not a big deal, but I just keep clicking the wrong button

[2018-03-10 08:47] Havenwar opened #16 "Suggestion: Option to set a custom Z"
Not everyone levels their bed with z at zero, so having the option to set a custom z height in addition to the existing options for x and y would be awesome so people have more options to do things their way.

[2018-03-10 15:21] bcsteeve commented on #11
I have safe homing enabled in the firmware with a fix mount z probe defined... so for me, homing is with the sensor at the middle.  Due to offsets, that means the print head is at  x195, y160.

[2018-03-10 15:27] Havenwar commented on #11
Hey cool, I haven't heard of that before! Learn something new every day. I feel like that's the likely problem in this case though: your printhead is at x195, y160 when the plugin (as all cr10 related things) expects it at x0, y0.

[2018-03-10 15:40] bcsteeve commented on #11
I don't think so.  If I home and then center (it any other plugin button) it works fine.  Center takes me from home to x150y150 as it should.  It is after the "timeout" where the problem lies.  However, you bring up a point.  The stock firmware, perhaps, doesn't timeout.  The CR-10 uses an old and modified version of Marlin.  I use the current version.  I recommend everyone so the same, as it prin

[2018-03-10 15:49] Havenwar commented on #11
Ah okay! Sorry for the confusion.

Good point though about the firmware, I guess most people are on stock or simply go through the leveling quickly enough that they don't hit this issue much. I'm planning to upgrade the firmware myself but I just feel I gotta get everything else working right first. :D

[2018-03-10 18:17] bcsteeve commented on #11
And really, you should be taking everything I say with a grain of salt.  I didn't really think about it before, but I guess I'm a bit of an edge-use case.  I have auto-bed-leveling hardware and firmware, and most people that go that route would have no use for your plugin (afterall, the whole point of ABL is just that, right?).  But I'm developing a new bed leveling system, so it is important for

[2018-03-11 22:50] marchyman commented on #15
Ditto, many times over.   I, too, would like the option of having the buttons swapped top to bottom so the location of a button matches the corner on the bed.   It also slightly annoys me that the buttons for the right are larger than the buttons for the left.

[2018-03-12 23:42] electr0sheep commented on #16
That's interesting. I couldn't even begin to fathom why people wouldn't level the bed with z set to 0, but it won't be that hard to add, so I can work on adding that as an option.

[2018-03-12 23:49] electr0sheep commented on #15
Regarding the buttons on the right being larger than the buttons on the left, I totally agree, and have tried to fix this by adding some extra spaces in between the words, i.e. 'top    left', but the extra whitespace didn't seem to take.

I'm normally pretty OCD about everything, and I guess I may have just never noticed the top and bottom buttons being in the wrong place, but now that you mention

[2018-03-12 23:59] electr0sheep commented on #14
I have begun preliminary development on adding a pre-configured drop-down to make things easier, but it looks like it's going to be a pain in the butt to implement, so don't expect anything soon.

[2018-03-13 00:00] electr0sheep commented on #7
Since I haven't heard anything about this for a while, I'm closing the issue.

[2018-03-13 00:00] #7 closed

[2018-03-13 04:15] electr0sheep commented on #15
It didn't end up being an issue with Atom, however I was able to resolve it anyway with 235cc430965074325e5de942092993d2f3f648dc

[2018-03-13 04:15] #15 closed

[2018-03-13 04:26] electr0sheep commented on #16
@Havenwar I have implemented both of your suggestions (this one plus rearranging the buttons), but I'm in the middle of a print so I can't test my Z axis changes right now. I will test and push a new version of the plugin tomorrow.

[2018-03-13 11:20] Havenwar commented on #16
Thanks! As for why the general idea I believe is that it's easier to feel the drag on say a 4mm drill bit than a 0.02mm feeler gauge, which makes it easier to get a very accurate and repeatable level. This also lets you level with a z0 of "true 0" instead of "0+thickness of a piece of paper" since you set the z to measure at to the exact thickness of the implement used to measure with.

I am still

[2018-03-13 15:29] electr0sheep commented on #16
Just pushed 2.0.1 which contains the new settings

[2018-03-13 15:29] #16 closed

[2018-03-14 15:28] CptFredSureShot commented on #14
Hi there, and if you would like to include the mini as well, we would then have the full line-up!

[2018-03-14 22:10] ryanneve opened #17 "Better plugin description"
Just a small thing, but from the current description it's not entirely clear what this plugin does.  Perhaps replace:
## This plugins adds leveling controls for your CR-10 to the Control tab.
with something like:
## This plugin adds buttons which with one click position the print head over a corner leveling screw or the center of the print area.

My first thought was it had something to do with au

[2018-03-15 16:55] bcsteeve commented on #17
Just to provide a counter-view...  your presumption that it has to do with auto or mesh leveling is your error in reading what isn't there, rather than misunderstanding what is there.  The description makes no mention of either auto or mesh or really says anything to suggest it could have anything to do with either.  (In fact, auto/mesh leveling systems have nothing to do with leveling... but that

[2018-03-15 16:58] bcsteeve commented on #11
Incidentally... I hadn't been using this plugin for awhile.  I just re-installed it today and I have to say... you've done a great job.  The improvements you've made since the first release are really good.

I'd even say you can probably close this issue, as I think the warning is good enough and the issue is probably only relevant to those that have modified as I have.  I've been using it with a

[2018-03-15 17:00] bcsteeve commented on #14
But... why?  As @electr0sheep says, you can configure it in the options to whatever you want.

I was going to suggest this plugin drop the "CR-10" moniker entirely because there's really no reason - that I immediately can think of, anyway  - why it can't apply to any printer?

[2018-03-15 20:30] ryanneve commented on #17
Bcsteeve's suggestion looks great to me.

[2018-03-19 17:22] electr0sheep commented on #17
I updated the plugin repo. If you guys get a chance, let me know what you think.

[2018-03-21 18:33] ryanneve commented on #17
The README.md still just says "This plugins adds leveling controls for your CR-10 to the Control tab."
Perhaps I'm looking in the wrong place?

[2018-03-22 22:31] electr0sheep commented on #17
@ryanneve Oh, I thought you were talking about the description in the official plugin repo. I updated readme.md after realizing I was mistaken about what you meant.

[2018-03-22 23:51] ryanneve commented on #17
Thanks!

[2018-03-22 23:51] #17 closed

[2018-03-23 01:28] electr0sheep commented on #14
@bcsteeve Yeah you're right. At this point the plugin pretty much has completely diverged from what I was expecting it to be lol. I probably should follow your suggestion. Maybe if I have some extra time over the weekend or something I can look into it.

I think the main problem will be if I change the name, I'll need to make sure that plays nicely with the official plugin repo for updates, etc.

[2018-04-02 16:57] zoolanders49 opened #18 "Lower Z coordinate"
Hello,
could you add the ability to enter a decimal value for "Lower Z coordinate" .

Thank for your job. ;-)

PS:  I think you should rename your plugin with a more generic name because it is not specific to the CR-10 as you have made it fully customizable :)

[2018-04-10 20:27] photojohn opened #19 "CR-10S does not respond to move after "Apply heat""
When pressed "Apply heat" CR-10S does not respond to any movement requests - not from OctoPrint, not from printer menu (tried HOME option). Helps, when restart printer. Was repeatable multiple times, works with OctoPrint original heat control. At least bed started to heat.
No settings were touched, started to use straight away.

[2018-04-20 02:20] electr0sheep commented on #19
This is due to gcode I use to apply the heat. I will make this an option, since I've had other complaints about it as well.

[2018-04-20 03:14] electr0sheep commented on #19
This issue should be resolved with the latest release: https://github.com/electr0sheep/OctoPrint-Cr10_leveling/releases/tag/v2.1.0

[2018-04-20 03:14] #19 closed

[2018-04-20 03:33] electr0sheep commented on #18
I believe you should already be able to enter a decimal value for all the coordinates. The box will pretend like you can't do that, but you can still hit save all the same.

Nevertheless, I will specify a step of 0.1 so that that you won't run into this issue

Regarding the generic name for the plugin, I totally agree. The problem is, I would have to update the official plugin repo, and I'm kind o

[2018-04-20 03:35] electr0sheep commented on #11
I am marking this issue as will not fix. I have added warnings, and that should be sufficient. I don't see a way to fix this, especially considering the octoprint core will allow you to move out-of-bounds as well.

[2018-04-20 03:40] electr0sheep opened #20 "Rename plugin to reflect the fact that it's generic now."
https://plugins.octoprint.org/help/registering/

[2018-04-20 03:41] electr0sheep commented on #14
I'm going to close this issue.

The fix for this will be to get rid of CR-10 references, as the plugin is now pretty much fully customizable.

https://github.com/electr0sheep/OctoPrint-Cr10_leveling/issues/20

[2018-04-20 03:41] #14 closed

[2018-04-20 03:41] #11 closed

[2018-05-01 03:16] johnnygizmo opened #21 "Z doesn't change anymore"
Since a recent update, the z doesn't change between button presses. Lower z is set to 0 and upper is set to 15. (Version 2.1.0)

Standard Z movement buttons still work fine.

[2018-05-02 17:17] johnnygizmo commented on #21
More info: On clicking a corner button, these are the only commands sent to the printer

Send: G90
Recv: ok
Send: G0 X270Y270F3600
Recv: ok

[2018-05-30 11:34] AvanOsch commented on #20
I'm using this plugin for my Zonestar (Z8XM2).
Wouldn't have installed this if the plugin name had another printer name in it, but my printer is basically a Chinese rip-off of the CR-10 ;)

I edited the file
`/home/pi/oprint/lib/python2.7/site-packages/octoprint_CR10_Leveling/static/cr10leveling.js`
And simply adjusted the "baseSettings" --> "name" to read "Bed Leveling"

Maybe adjust this in the

[2018-06-12 03:10] electr0sheep commented on #20
Oh I think you're right, I guess I won't have to submit a PR to the repo!

[2018-06-12 03:26] electr0sheep commented on #20
@AvanOsch took care of this. Thanks!

[2018-06-12 03:27] electr0sheep commented on #18
2.1.1 should take care of this.

[2018-06-12 03:27] #18 closed

[2018-06-12 03:29] electr0sheep commented on #21
@johnnygizmo I just tested this with my CR-10, and the z was changing. For example, when I clicked `Bottom Left`, the z went up by 10 units, moved into the bottom left position, and the z went down by 10 units.

Can you confirm that I am understanding correctly, and if I am, what 3D printer are you using?

Can anyone else reproduce this issue?

[2018-06-12 12:55] johnnygizmo commented on #21
I reinstalled my Octopi (for other reasons) and the plugin works fine now. Sorry for the confusion.

[2018-06-13 00:55] george-vieira opened #23 "Feature: simple CSS instead of text buttons or images"
I went to implement this but found the code was a little hard with templating etc so thought maybe you'd have a better chance to do it.
I had a friend suggest a way in pure CSS to make images for the position test as below:
https://codepen.io/traviswatson/pen/ZxQxgG

which looks a lot cooler than just words.

[2018-07-21 15:02] micdenny opened #24 "Touchui experience could be improved"
this is the only plugin that actually works with touchui but it has a bad user experience, could it be improved?

this is how it look now when touchui plugin is enabled:

![image](https://user-images.githubusercontent.com/1633595/43036815-d491e012-8d07-11e8-9556-28a7156051d4.png)

[2018-11-13 12:01] santanig5 opened #25 "Unable to remove the control buttons"
Greetings,
I no longer need this function, however after removing the plugin the controls remain, how can I remove them?
Thank you

[2020-03-25 23:49] george-vieira opened #26 "can't get out of saving settings"
after upgrading octopi image with:
OctoPrint 1.4.0 running on OctoPi 0.17.0

and restoring from backup, all I get is the positional settings to move the heating block for all 4 corners. When I click Save, it does the save spinning icon and then remains on the page.
I refresh as instructed and still getting the settings page.

[2020-03-26 06:42] #26 closed

[2020-06-27 11:45] cp2004 opened #27 "Python 3 Compatibility"
Hi there! I don't use this plugin (Don't have a CR10, but **at least 1,300 users have installed this plugin - It's popular!**) but I am helping out plugins getting to Python 3 compatibility.
As you are probably aware, OctoPrint currently supports Python 2 & 3 simultaneously. Users will begin migrating to Python 3 soon and your plugin will not be installable. As of March 2021, it will switch to Pyt

[2020-09-21 00:36] IKnowNow opened #28 "[Feature Request] Python 3 Compatibility"
Please add Python 3 Compatibility as outlined [here](https://docs.octoprint.org/en/master/plugins/python3_migration.html).

[2020-10-28 21:43] lsellens commented on #28
I've tested and this addon is python 3 compatible. It just needs the flag added.

[2020-10-28 21:43] lsellens commented on #27
I've tested and this addon is python 3 compatible. It just needs the flag added.

[2020-11-06 15:48] ScruffR commented on #27
How did you install it?
I've tried on my OctoPi but the plugin will never get enabled.

[2020-11-06 17:55] cp2004 commented on #27
You will need to add the Python compatibility flag yourself, or force it compatible as a development option. I'll create a PR you can use to install it.

[2020-11-08 03:27] lsellens commented on #27
@ScruffR as cp2004 said you can edit the addon to include the missing tag or config octoprint to to force its use as described here
https://docs.octoprint.org/en/master/plugins/python3_migration.html#telling-octoprint-your-plugin-is-python-3-ready

[2020-11-08 08:02] ScruffR commented on #27
Yup, I tried @cp2004's version and it worked :+1:

[2020-11-11 17:48] happy1234567 commented on #28
This plugin stopped working. Is this why?  The python versions?
![image](https://user-images.githubusercontent.com/36652924/98845714-1bdbb580-241c-11eb-88b1-46c837e935e2.png)

[2021-01-14 20:36] fatboy1271 commented on #28
Is there any way for someone to get this working? It's the best bed leveling plug-in I've found and I'd love to be able to use it again...

[2021-01-27 15:53] lsellens opened #30 "Adoption"
Do you mind if I just take this plugin over? It seems a lot of users are still using it myself included. I would like to rename it to something less misleading since nothing about it is specific to the cr10.

[2021-04-15 22:38] #27 closed

[2021-04-15 22:38] #28 closed

[2021-04-15 23:06] electr0sheep commented on #30
I created an issue in the main plugin repo: https://github.com/OctoPrint/plugins.octoprint.org/issues/843

If you are still interested, can you leave a comment there? Thanks!

[2021-04-16 14:50] lsellens commented on #30
If no one else is interested I will.

[2021-04-23 19:14] #30 closed

[2021-04-23 19:16] #21 closed

[2021-05-13 08:10] kimkloster opened #32 "Can you add G34 a Z-align and G29 an autobed leveling button ? It would be very nice."
Then I would not have to change my startup script etc.:
I use this today.
G34

G28 X Y F6000 ; move X/Y to min endstops may disable bed leveling
G29 ; auto-leveling
M420 S1 ; enable bed leveling compensation

[2021-05-30 02:16] lsellens commented on #32
This is already available. Go to the addon settings and paste the commands where it says "Autolevel GCODE Commands".
Save, refresh your browser, and a autolevel button should be there.

[2021-05-30 09:03] kimkloster commented on #32
THX.  Works like a charm.   Sorry for not grasping it myselves.

Kim

søn. 30. mai 2021 kl. 04:16 skrev lsellens ***@***.***>:

--
Mvh.
Kim Kloster
+47 4666 5222

[2021-05-31 16:07] #32 closed

[2021-09-08 07:42] bigalgeorge opened #33 "Despite bed settings are correct (200 x 200) Leveller RF and RB are just off the bed"
I home using Octoprint home buttons, FrontRight and BackRight invalid as above, then did an Ender 3 Control Panel home, then this leveller, and same problem. Any ideas?
![2021-09-08_19-38](https://user-images.githubusercontent.com/6935387/132467515-8716cbd4-fb73-41d3-b7be-236af1f17c3b.png)

[2021-11-06 21:15] varek3d opened #34 "The Update"
It's strange, I updated the OS on Octoprint.  After I see the buttons to help level my bed but they no longer do anything.  I get no control at all.  This is very disappointing I"ve been using the plug for years and I love it.  Any suggestions to repair it?

Thank you!

Sincerely,

B

[2021-11-08 19:01] Arturis commented on #34
I am also experiencing this same issue, the buttons are no longer functional after updating Octoprint today to 1.7.2.

[2021-11-21 18:19] theos10 commented on #34
Same probleme, see log when clic on button :
2021-11-21 19:02:30,119 - octoprint.util.comm - ERROR - Error while processing hook dashboard for phase sending and command G0 Z0F500:
Traceback (most recent call last):
  File "/home/pi/oprint/lib/python3.7/site-packages/octoprint/util/comm.py", line 4611, in _process_command_phase
    tags=tags,
  File "/home/pi/oprint/lib/python3.7/site-packages/octo

[2021-11-30 00:34] rpoland007 commented on #34
I get the same issue, the buttons are there, but they don't do anything.

[2021-11-30 05:23] varek3d commented on #34
Is there anything we can do other than not update?

[2021-12-04 22:09] nilshomeier commented on #34
Same for me. I noticed in the terminal window it says G90, when any of the position buttons are pressed. Heat and Stop Heating also work, but the movement buttons only send a G90.

[2021-12-05 00:09] varek3d commented on #34
is the developer going to help?

On Sat, Dec 4, 2021 at 5:09 PM nilshomeier ***@***.***> wrote:

--
----------------------------------------------
Teacher · 3d Artist · Creator · Dreamer
"*...dreamers, shapers, tinkers, and makers..."*
Linkedin <http://www.linkedin.com/in/varek3d/> » Website
<http://www.varek.com> » Etsy Store
<https://www.etsy.com/shop/PixolCreation> »201.754.8735

[2021-12-05 07:24] nilshomeier commented on #34
Ok, I figured out, what the issue is. Basically the buttons send gcode commands to the printer. In the current release the formatting of these commands is wrong. It sends "G0 Z10F500" when it should be "G0 Z10 F500".

I fixed this in my installation, which was pretty simple actually.

ssh into your pi. navigate to the script folder: "cd oprint/lib/python3.7/site-packages/octoprint_CR10_Leveling/st

[2021-12-05 14:36] theos10 commented on #34
Hi,
Same probleme after change :
2021-12-05 15:12:16,987 - octoprint.util.comm - ERROR - Error while processing hook dashboard for phase sending and command G0 X40Y40F3600:
Traceback (most recent call last):
  File "/home/pi/oprint/lib/python3.7/site-packages/octoprint/util/comm.py", line 4611, in _process_command_phase
    tags=tags,
  File "/home/pi/oprint/lib/python3.7/site-packages/octoprint/u

[2021-12-05 15:47] AvanOsch commented on #34
I added spaces to the commands in my fork.
If someone would be willing to test it out:

https://github.com/AvanOsch/OctoPrint-Cr10_leveling

(I already created a pull request)

[2021-12-09 19:45] RushHour2k5 commented on #34
Just installed and tested, all appears well. Might want to update your readme to reference your link of 'https://github.com/AvanOsch/OctoPrint-Cr10_leveling/archive/master.zip'.

[2021-12-10 17:12] RushHour2k5 commented on #34
@AvanOsch, I just wanted to come back and personally say thank you. This appears to have also fixed the responsiveness of my OctoPrint install. I kept having severe dropouts where it seemed like the interface was unresponsive and now it appears much better!

[2021-12-10 20:17] AvanOsch commented on #34
@pilot76103 You're very welcome.
Now let's hope @lsellens gets the main repo (and OctoPrint's update system) updated a.s.a.p....
The reason I don't have my fork updated with any info, is because I use it solely to push updates to the main branch.

[2021-12-10 20:21] lsellens commented on #34
Sorry first time I'm seeing this. I'll get it updated when I get home from work tonight.

[2021-12-10 20:31] lsellens commented on #34
Looks like my notifications got turned off for this repo some how. I have them on now, so I should be more responsive in the future.

[2021-12-10 20:54] lsellens commented on #33
if your printer is 200x200 why do you have your bed width set to 220x220?

[2021-12-10 21:02] AvanOsch commented on #34
@lsellens Cheers!

[2021-12-13 22:18] #33 closed

[2021-12-13 22:18] #34 closed

[2021-12-13 22:18] #25 closed